# Usuario con el que corren los contenedores
AIRFLOW_UID=50000

# Base de datos de datos del taller 
WAREHOUSE_USER=warehouse
WAREHOUSE_PASSWORD=warehouse
WAREHOUSE_DB=warehouse

# Clave de cifrado de Airflow
FERNET_KEY=
